* {
    box-sizing: border-box;
  }
  body {
    width: 98%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #113545;
    background-image: url("Imagenes/vermilion-lakes.jpg");
    background-repeat: no-repeat;
    background-size:cover ;
    
    display: flex;
    flex-wrap: wrap;
  }
  header,
  nav,
  main,
  aside,
  footer {
    border: 1px solid black;
  }
  .header-index{
    border: 1px solid black;
    width: 100%;
    height: 1000%;
    display: flex;
    flex-wrap: wrap;
  }
  header,
  nav,
  footer {
    width: 100%;
  }
  header {
    height: 188px;
  }
  nav {
    height: 58px;
    padding-top: 7px;
  }
  main,
  aside {
    height: auto;
    padding: 10px;
  }
  main {
    width: 80%;
  }
  aside {
    width: 20%;
  }
  footer {
    height: 42px;
  }
  
  .header{
        background-image: url("Imagenes/Campamento\ en\ el\ río\ Tomo\,\ Vichada_Felipe\ Villegas\ -\ Instituto\ Humboldt_1280x720.jpg");
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 140%;
        color: white;
        text-align: center;
    }
   main{
    font-size: 140%;
    text-align: center;
   } 
   h2, h4{
    font-size: larger;
   }
    
    .botones{
        text-align: center;
        border-color: black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 140%;
        color: #113545
    }
    
   .tablas {
        border-collapse: collapse;
        background-color: rgb(207, 207, 207); 
      }

    .bloque{
       display: flex;
       gap: 20px;  
    }
 




